* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --size: 4.1vw;
    --font-size: 50% ;
    --alkali: #ffc56f;
    --alkali-earth: #ffc0cb;
    --halogens: #fff175;
    --transitionMetals: #12fd7c;
    --lanthanides: #798dff;
    --actinides: #4c4d8d;
    --noble-gases: #e474fa;
    --post-transition: #00978a;
    --metalloids: #ff5f5f;
    --other: #39f2ff;
    --border-width: 3px;

    --background-color: white;
    --textColor: black;
    --borderColor: black;
    --shadowColor: grey;
    --card: white;
    --span: rgba(0, 0, 0, 0.459);
    --footer: rgb(231, 231, 231);
    --element: rgba(0, 0, 0, 0.03);
    --tagColor: rgb(73, 73, 73);
}

.darkMode {
    --background-color: rgb(34, 34, 34);
    --textColor: white;
    --borderColor: white;
    --shadowColor: black;
    --card: rgb(39, 39, 39);
    --span: rgba(255, 255, 255, 0.459);
    --footer: rgb(56, 56, 56);
    --element: rgba(49, 49, 49, 0.493);
    --tagColor: rgb(228, 228, 228);
}

small {font-family: 'Encode Sans Semi Condensed', sans-serif;}

.description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    width: 80vw; margin-top: 5em;
    font-family: 'Quicksand';
}

.description .card { 
    min-width: 200px;min-height:10px;
    height: auto; font-size:1em;
    color: var(--textColor); 
    padding: 1em 2em; text-align: left;
    background-color:var(--card);
    box-shadow: 0 8px 20px -3px var(--shadowColor);
    border-width: 5px; display: block;
    margin: 1em; text-justify: inter-ideograph;
}

tag {
    background-color:var(--tagColor);
    letter-spacing: 1px;
    color: var(--card);
    font-weight: 800;
    padding: 0.5em 1em;
    opacity: 0.7; display: inline;
    border-radius: 100vw;  
    white-space: nowrap;  
}
.summary {max-width: 80%; text-align: justify} .summary img {width: 40%;margin:0 2em 0em 0; float: left}
.discovery {max-width: 300px} .p-properties {max-width: 300px}
.structure-3d, .structure-2d {width: 40%}
.structure-3d canvas, .structure-2d canvas{width: 100%; height: auto;}
.uses, .history {max-width: 50%; width: 40%;} 

div.uses ul li::marker{
    color: var(--textColor); 
    content: '★ ';
    font-weight: 900;
}

canvas#hover-structure {
    background-color: transparent;
    border: 2px solid black;
    visibility: hidden;
    pointer-events: none;
    grid-column: 3;
    grid-row: 1; display:block;
    width: 17vw;
}

.footer {
    background-color: var(--footer);
    display: flex; padding: 2em;
    align-items: center;
    justify-content: space-around;
    width: 100%; margin-top: auto;
}
.footer a {transition: all 0.2s ease-in-out;}

.footer a:hover {
    transform: scale(1.2);
}

.charts {
    max-width:100vw;
    overflow: auto;
}

.charts canvas {
    --width: 200px;
    border: 1px solid var(--borderColor);
    margin: 1em auto; display: block;
    min-width: calc(var(--width) * 2);
    min-height: var(--width);
}

.charts canvas#atomicMass {min-width: 1000px;}

button#mode {
    position: fixed;
    border-radius: 50%;
    top: 3%; right: 2%;
    cursor: pointer;
    border: none;
    background-color: var(--backgroundColor);
}

body {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    display: flex; z-index: 1200;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    background-color:var(--background-color);
    color: var(--textColor);
}

a:link, a:visited, a:active{
    color: var(--textColor);
    text-decoration: none;
}

div.periodic-Table {
    display: grid;
    max-width: inherit;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: var(--font-size);
    grid-template-columns: repeat(18, calc(var(--size) + 5px));
    grid-template-rows: repeat(10, var(--size));
    grid-gap: 0.5em;
    margin: 2em auto;
    overflow-x: auto
}

.element {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-around;
    border-top: none; border-left: none;border-right: none;
    padding: 0.3em 0.5em; white-space: nowrap;
    background-color: var(--element);
    transition: background 0.2s ease;
    cursor: pointer;
}

.element:hover {background-color: rgba(0, 0, 0, 0.1)}

canvas#background { position: absolute; z-index: -1;}

.none {display: none;}

.Noble-gases {border-bottom: var(--border-width) solid var(--noble-gases); }
.Other-non-metals {border-bottom: var(--border-width) solid var(--other); }
.Alkali-Metals {border-bottom: var(--border-width) solid var(--alkali); }
.Metalloids {border-bottom: var(--border-width) solid var(--metalloids); }
.Halogens {border-bottom: var(--border-width) solid var(--halogens); ; }
.Alkaline-Earth-Metals {border-bottom: var(--border-width) solid var(--alkali-earth); }
.Transition-metals{border-bottom: var(--border-width) solid var(--transitionMetals); }
.Post-Transition-Metals{border-bottom: var(--border-width) solid var(--post-transition); }
.Lanthanides{border-bottom: var(--border-width) solid var(--lanthanides); }
.Actinides {border-bottom: var(--border-width) solid var(--actinides)}

h1 {margin: -3px auto; font-size: 2.3em}
p{margin: auto; font-size: 1.1em; margin-bottom: 0} 
p.number {margin: 0; display: inline}

ul.tabs {
    display: flex;
    width: 50vw;
    justify-content:space-around;
    font-family: 'Quicksand';
    background-color: var(--card);
    list-style: none; padding: 0.2em 1em;
    box-shadow: 0 2px 8px var(--shadowColor);
    font-size: 2em
}

ul.tabs li {
    width: 30%; cursor: pointer;
    text-align: center;
}
.open{border-bottom: 2px solid var(--borderColor)}

div[data-tab-content] {display: none;}

span.icon {color: var(--span)}

button#back {
    padding: 0.5em 1em;
    background-color: transparent;
    margin: 1.5em 0 0 1.5em;
    margin-right: auto; border: 2px solid var(--borderColor);
    color: var(--textColor);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    outline: 2px solid var(--borderColor); outline-offset: -1px;
}

button#back:hover {
    outline-offset: 2px;
}

@media only screen and (max-width: 1024px) {
    h1 {font-size: 2em;}
    select {font-size:1em}
    p{margin: auto; font-size: 0.7em; margin-bottom: 0}
}
@media only screen and (max-width: 978px) {
    .element p.number {display: inline; margin: 0; font-size: 0.5em;}
    select {height:15px; font-size:0.8em}
    h1 {margin-bottom: 3px;}
    .element p {display: none};
}
@media only screen and (max-width: 876px) {
    ul.tabs {width: 60vw}
    .p-properties {width: 40%}
    .uses, .history {width: 90%; max-width: 90%;}
    .uses img {width: 100%;margin:0; float: none; aspect-ratio: 2 / 1.4;}
    h1 {margin-bottom: 3px; font-size: 1.8em;}
}
@media only screen and (max-width: 726px) {
    ul.tabs{width: 75vw; font-size: 1.5em;}
    .structure {width: 100%}
    .resources {font-size: 0.9em}
    .description {font-size: 0.9em}
    h1 {margin-bottom: 3px; font-size: 1.5em;}
}
@media only screen and (max-width: 650px) {
    ul.tabs{width: 90vw; font-size: 120%;}
    .uses img {width: 45%;margin:0 1em 0em 0; float: left;}
    .resources {font-size: 0.75em; line-height: 20px}
    .description {flex-direction: column; font-size: 0.7em;}
    .description .card {width: 95%; max-width: 100%;}
    .element p{margin: auto; font-size: 1.1em; margin-bottom: 0; display: inline}
    .element h1 {font-size: 2.3em; margin-top:0}
    canvas#hover-structure{width: 230px;}
    div.periodic-Table {
        --side: 7em;
        grid-template-columns: repeat(18, var(--side));
        grid-template-rows: repeat(10, var(--side));
    }
}


.n60, .n61, .n62, .n63, .n64, .n65, .n66, .n67, .n68, .n69, .n70, .n71 {grid-row: 9}
.n89 .n90, .n91, .n92, .n93, .n94, .n95, .n96, .n97, .n98, .n99, .n100, .n101, .n102, .n103 {grid-row: 10;}
.n2, .n10, .n18, .n36, .n54, .n86, .n118 {grid-column: 18;} 
.n5, .n13 {grid-column: 13}
.n57, .n58, .n59 {grid-row: 9;}
.n89 {grid-row: 10; grid-column: 1;}
.n90{grid-column: 2; grid-row: 10}
.n57, .n89 {grid-column: 3}
.n58, .n90 {grid-column: 4}
.n59, .n91 {grid-column: 5}
.n60, .n92 {grid-column: 6}
.n61, .n93 {grid-column: 7}
.n62, .n94 {grid-column: 8}
.n63, .n95 {grid-column: 9}
.n64, .n96 {grid-column: 10}
.n65, .n97 {grid-column: 11}
.n66, .n98 {grid-column: 12}
.n67, .n99 {grid-column: 13}
.n68, .n100 {grid-column: 14}
.n69, .n101 {grid-column: 15}
.n70, .n102 {grid-column: 16}
.n71, .n103 {grid-column: 17}

.empty2 {
    grid-row: 7; grid-column:3;
    border: 2px solid var(--actinides)
}

.empty1 {
    grid-column:3; grid-row: 6;
    border: 2px solid var(--lanthanides)
}