* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --size: 4.3vw;
    --background: aquamarine;
    --font-size: 30% ;
}

button {
    padding: 0.5em;
    position: fixed;
    bottom: 5%;
    border-radius: 10vw;
    left: 1%;;
}


body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,1);
}


div.periodic-Table {
    display: grid;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: var(--font-size);
    grid-template-columns: repeat(18, calc(var(--size) + 5px));
    grid-template-rows: repeat(10, var(--size));
    gap: 0.6em;
}


.element {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    padding: 0.3em 0.5em;
    cursor: pointer;
}

select {
    margin-left: 0.5em;
    padding: 4px;
    border-radius: 500px;
    border: none;outline: none;
    color: white;
    background-color: rgba(214, 214, 214, 0.2)
}

option {
    color: white;
    background-color: rgb(0, 0, 0, 0.8);
    font-size: 1.2em;
}


select:hover, select:focus {
    outline: none;
    border: none;
}



img {
    position: absolute;
    background-color:white;
    z-index: 2;
    max-width: 100px;
    top: 50%;
    left: 50%;
}

.description {
    min-width: 100vw;
    min-height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    position: fixed;
    display: none;
    padding: 1em;
}

.description p {
    position: absolute;
    line-height: 0;
    top: 0;
    right: 0;
    padding:1em;
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

canvas#structure { position: absolute; top: 20%; left: 52%;}
canvas#background { position: absolute; z-index: -1;}
.none {display: none;}

#content {
    padding: 1em;
    width: 40vw;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    min-width: 400px;
    position: absolute;
    font-family: 'Quicksand';
    overflow-y: auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    min-height: 10vh;
}


#close {
    font-size: 150%;
    right: 0;
    color: white;
    cursor: pointer;
    position: absolute;
    margin-right: 1em;
    color: rgb(255, 255, 255);
    padding: 0.2em 0.5em;
    border-radius: 50%;
}

h1 {margin: -3px auto; font-size: 4em;}
p{margin: auto; font-size: 2em;} 
p.number {margin: 0}

@media screen and (max-width: 978px) {
    h1 {font-size: 3em;}
    p {font-size: 1.5em;}
}
@media screen and (max-width: 850px) {
    h1 {font-size: 2.5em;}
    p {font-size: 1em;}
}

@media screen and (max-width: 500px) {
    h1 {font-size: 1em;}
    p, p.number{font-size: 0.5em;}
}

.Noble-gases {border: 2px solid rgb(18, 253, 124); box-shadow: 0 0 3px rgb(18, 253, 124); }
.Other-non-metals {border: 2px solid rgb(57, 242, 255);  box-shadow: 0 0 3px rgb(57, 242, 255);}
.Alkali-Metals {border: 2px solid rgb(255, 197, 111); box-shadow: 0 0 3px rgb(255, 197, 111); }
.Metalloids {border: 2px solid rgb(255, 142, 142); box-shadow: 0 0 3px rgb(255, 142, 142); }
.Halogens {border: 2px solid rgb(228, 116, 250); box-shadow: 0 0 3px rgb(228, 116, 250); }
.Alkaline-Earth-Metals {border: 2px solid rgb(255, 192, 203); box-shadow: 0 0 3px rgb(255, 192, 203); }
.Transition-metals{border: 2px solid rgb(238, 227, 73); box-shadow: 0 0 3px rgb(238, 227, 73);}

.n60, .n61, .n62, .n63, .n64, .n65, .n66, .n67, .n68, .n69, .n70, .n71 {
    grid-row: 9
}

.n89 .n90, .n91, .n92, .n93, .n94, .n95, .n96, .n97, .n98, .n99, .n100, .n101, .n102, .n103 {
    grid-row: 10;
}

.n3, .n11, .n19, .n37, .n55, .n87 {grid-column: 1;}
.n2, .n10, .n18, .n36, .n54, .n86, .n118 {grid-column: 18;} 
.n5, .n13 {grid-column: 13}
.n72, .n104 {grid-column: 4}
.n57, .n58, .n59 {grid-row: 9;}
.n89 {grid-row: 10; grid-column: 1;}
.n90{grid-column: 2; grid-row: 10}
.n57, .n89 {grid-column: 3}
.n58, .n90 {grid-column: 4}
.n59, .n91 {grid-column: 5}
.n60, .n92 {grid-column: 6}
.n61, .n93 {grid-column: 7}
.n62, .n94 {grid-column: 8}
.n63, .n95 {grid-column: 9}
.n64, .n96 {grid-column: 10}
.n65, .n97 {grid-column: 11}
.n66, .n98 {grid-column: 12}
.n67, .n99 {grid-column: 13}
.n68, .n100 {grid-column: 14}
.n69, .n101 {grid-column: 15}
.n70, .n102 {grid-column: 16}
.n71, .n103 {grid-column: 17}

.empty2 {
    grid-row: 7;
    grid-column:3;
    background-color:rgb(214, 214, 214)
}

.empty1 {
    grid-column:3;
    grid-row: 6;
    background-color:rgb(214, 214, 214)
}