* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --size: 4.1vw;
    --font-size: 50% ;
    --alkali: rgb(255, 197, 111);
    --alkali-earth: rgb(255, 192, 203);
    --halogens: rgb(228, 116, 250);
    --transitionMetals: rgb(238, 227, 73);
    --lanthanides: rgb(85, 111, 255);
    --noble-gases: rgb(18, 253, 124);
    --metalloids: rgb(255, 142, 142);
    --other: rgb(57, 242, 255);
}

button {
    padding: 0.5em;
    position: fixed;
    bottom: 5%;
    border-radius: 10vw;
    left: 1%;;
}


body {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,1);
}


div.periodic-Table {
    display: grid;
    padding: 0 5em;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: var(--font-size);
    grid-template-columns: repeat(18, calc(var(--size) + 5px));
    grid-template-rows: repeat(10, var(--size));
    margin: auto auto;
    grid-gap: 0.6em;
}


.element {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    padding: 0.3em 0.5em;
    cursor: pointer;
}

select {
    margin-left: 0.5em;
    padding: 4px;
    border-radius: 500px;
    border: none;outline: none;
    color: white;
    background-color: rgba(214, 214, 214, 0.2)
}

option {
    color: white;
    background-color: rgb(0, 0, 0, 0.8);
    font-size: 1.2em;
}

select:hover, select:focus {
    outline: none;
    border: none;
}


canvas#properties { position: absolute; top: 20%; left: 52%;}
canvas#background { position: absolute; z-index: -1;}

.none {display: none;}

.description {
    min-width: 100vw;
    min-height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    color: white;
    position: fixed;
    align-items: center;
    display: none;
}

.description #content p {
    position: absolute;
    top: 0; right: 0;
    font-size: 2em;
    padding:0.3em 1em;
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}
#content {
    margin: auto;
    padding: 1em;
    width: 40vw;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    font-family: 'Quicksand';
    overflow: auto;
    min-height: 10vh;
}


#close {
    font-size: 150%;
    top: 5%;
    right: 0;
    cursor: pointer;
    position: absolute;
    margin-right: 1em;
    padding: 0.2em 0.5em;
    border-radius: 50%;
}

.Noble-gases {border: 2px solid var(--noble-gases); box-shadow: 0 0 5px var(--noble-gases); }
.Other-non-metals {border: 2px solid var(--other);  box-shadow: 0 0 5px var(--other);}
.Alkali-Metals {border: 2px solid var(--alkali); box-shadow: 0 0 5px var(--alkali); }
.Metalloids {border: 2px solid var(--metalloids); box-shadow: 0 0 5px var(--metalloids); }
.Halogens {border: 2px solid var(--halogens); box-shadow: 0 0 5px var(--halogens); }
.Alkaline-Earth-Metals {border: 2px solid var(--alkali-earth); box-shadow: 0 0 5px var(--alkali-earth); }
.Transition-metals{border: 2px solid var(--transitionMetals); box-shadow: 0 0 5px var(--transitionMetals);}
.Lanthanides{border: 2px solid var(--lanthanides); box-shadow: 0 0 5px var(--lanthanides);}

h1 {margin: -3px auto; font-size: 2.3em}
p{margin: auto; font-size: 1.1em; margin-bottom: 0} 
p.number {margin: 0; display: inline}

@media only screen and (max-width: 1024px) {
    h1 {font-size: 2em;}
    p{margin: auto; font-size: 0.7em; margin-bottom: 0}
}

@media only screen and (max-width: 978px) {
    .element p.number {display: inline; margin: 0; font-size: 0.5em;}
    h1 {margin-bottom: 3px;}
    .element p {display: none};
}
@media only screen and (max-width: 876px) {
    .description {font-size: 0.8em}
    .description #content p {font-size: 2em}
    #close {top: 20%; right: 3%}
    canvas#properties{transform: scale(0.7)}
    h1 {margin-bottom: 3px; font-size: 1.8em;}
}
@media only screen and (max-width: 726px) {
    .description {font-size: 0.6em}
    canvas#properties {transform: scale(0.6)}
    h1 {margin-bottom: 3px; font-size: 1.5em;}
}
@media only screen and (max-width: 650px) {
    .element p{margin: auto; font-size: 1.1em; margin-bottom: 0; display: inline}
    .element h1 {font-size: 2.3em; margin-top:0}
    div.periodic-Table {
        --side: 7em;
        grid-template-columns: repeat(18, var(--side));
        grid-template-rows: repeat(10, var(--side));
    }
}


.n60, .n61, .n62, .n63, .n64, .n65, .n66, .n67, .n68, .n69, .n70, .n71 {
    grid-row: 9
}

.n89 .n90, .n91, .n92, .n93, .n94, .n95, .n96, .n97, .n98, .n99, .n100, .n101, .n102, .n103 {
    grid-row: 10;
}

.n3, .n11, .n19, .n37, .n55, .n87 {grid-column: 1;}
.n2, .n10, .n18, .n36, .n54, .n86, .n118 {grid-column: 18;} 
.n5, .n13 {grid-column: 13}
.n72, .n104 {grid-column: 4}
.n57, .n58, .n59 {grid-row: 9;}
.n89 {grid-row: 10; grid-column: 1;}
.n90{grid-column: 2; grid-row: 10}
.n57, .n89 {grid-column: 3}
.n58, .n90 {grid-column: 4}
.n59, .n91 {grid-column: 5}
.n60, .n92 {grid-column: 6}
.n61, .n93 {grid-column: 7}
.n62, .n94 {grid-column: 8}
.n63, .n95 {grid-column: 9}
.n64, .n96 {grid-column: 10}
.n65, .n97 {grid-column: 11}
.n66, .n98 {grid-column: 12}
.n67, .n99 {grid-column: 13}
.n68, .n100 {grid-column: 14}
.n69, .n101 {grid-column: 15}
.n70, .n102 {grid-column: 16}
.n71, .n103 {grid-column: 17}

.empty2 {
    grid-row: 7; grid-column:3;
    color:white;
    background-color:rgb(255, 103, 103)
}

.empty1 {
    grid-column:3; grid-row: 6;
    color: white;
    border: 2px solid var(--lanthanides)
}